.mt-100 {
    margin-top: 100px
}

body {
    background: -webkit-linear-gradient(to right, #717779, #7c8081);
    background: linear-gradient(to right, #a3abad, #a2a7a8);
    color: #514B64;
    min-height: 100vh;
    font-size: 12px;
}